.buttonstyle{
    padding-top:2.8em;
    padding-right:3.5em;
}
.column5{
    padding-top:2em; padding-bottom: 1em;

}

.headingname{
    font-family: 'Open Sans', sans-serif;
}

.polaroid{

    -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.84));
    filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.84));
}

a{
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 115, 135, 0.62);

}